* {
  margin:0;
  padding:0;
}
body {
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#4e81b8;
  background:#f1f4f9;
}
header {
  min-height:100px;
  margin:0 0 20px 0;
  background:#0099cc;
}
div.holder {
  max-width:1000px;
  margin:0 auto;
  padding:0 20px;
}
div.holder ul#sidebar {
  float:left;
  width:25%;
}
ul.items {
  padding:15px;
  min-height:100px;
  margin:0 0 10px 0;
  overflow:hidden;
  border:1px solid #FFF;
  background:#FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;  
}
ul.items.over {
  background:#abfe8e;
}
li.item {
  max-width:200px;
  list-style:none;
  border:1px solid #FFF;
  background:#f6f8fb;
}
li.item p {
  line-height:40px;
  text-align:center;
}
div.item p {
  text-align:center;
}
div.holder ul#sidebar li.item {
  max-width:300px;
  margin:0 0 10px 0;
}
div.dashboard ul.items li.item {
  float:left;
  width:100px;
  height:100px;
  margin-right:15px;
}


div.dashboard {
  float:right;
  width:73%;
}
div.dashboard div.section {
  min-height:100px;
  border-bottom:1px solid #f1f1f1;
}
#draggable {
  width: 100px;
  height: 100px;
  background: #ccc;
}
#droppable {
  position: absolute;
  left: 250px;
  top: 0;
  width: 125px;
  height: 125px;
  background: #999;
  color: #fff;
  padding: 10px;
}